<div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
        <h4><i class="material-icons">keyboard_arrow_right</i>Novo prato <small class="grey-text">insira o prato</small></h4>

        <form #frm="ngForm" class="row" (submit)="save($event, frm)" autocomplete="off">
            <div class="file-field input-field">
                <div class="btn">
                    <span>Foto</span>
                    <input type="file" (change)="addFile($event)">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>

            <div class="input-field col s12">
                <input id="name" name="name" type="text" class="validate" aria-required="true" placeholder="Prato" [(ngModel)]="dish.name"
                    [required]="true">
                <label for="name" data-error="Informe nome do prato">Nome do prato</label>
            </div>

            <div class="input-field col s12">
                <textarea id="description" name="description" class="materialize-textarea validate" aria-required="true" placeholder="Descrição"
                    [(ngModel)]="dish.description" [required]="true"></textarea>
                <label for="description" data-error="Informe a descrição">Informe a descrição</label>
            </div>

            <div class="input-field col s12">
                <input id="price" name="price" type="text" class="validate" aria-required="true" placeholder="Valor" [(ngModel)]="dish.price"
                [required]="true">
                <label for="price" data-error="Informe o preço">Informe o valor</label>
            </div>

            <div class="input-field col s12">
                <input type="submit" [value]="salvar_prato" class="btn" [ngClass]="{'disabled': salvar_prato === 'Salvando...'}" [disabled]="frm.invalid">
            </div>
        </form>
    </div>
</div>