<div class="row" id="loginForm">
    <div class="col offset-m3 m6 s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Autenticação</span>
                <form (submit)="login($event)">
                    <div class="input-field">
                        <input type="email" placeholder="Seu e-mail..." id="email" name="username" [(ngModel)]="user.username">
                    </div>
                    <div class="input-field">
                        <input type="password" placeholder="Sua senha..." id="password" name="password" [(ngModel)]="user.password">
                    </div>
                    <div class="input-field">
                        <input type="submit" value="Acessar" class="btn">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>