<div class="row">
    <div class="col s12">
        <h4><i class="material-icons">keyboard_arrow_right</i>Meus dados <small class="grey-text">atualize suas informações</small></h4>
    </div>

    <div class="col s12">
        <div class="card-panel">
            <form #frm="ngForm" class="row" (submit)="save($event, frm)" autocomplete="off">
                <div class="input-field col s12">
                    <input id="name" name="name" type="text" placeholder="Nome" [(ngModel)]="user.name" [required]="true">
                    <label for="name">Nome</label>
                </div>

                <div class="input-field col s12">
                    <input id="email" name="email" type="email" placeholder="E-mail" [(ngModel)]="user.email" [required]="true">
                    <label for="email">E-mail</label>
                </div>

                <div class="input-field col s12">
                    <input type="submit" [value]="update_profile" class="btn" [ngClass]="{'disabled': update_profile === 'Salvando...'}" [disabled]="frm.invalid">
                </div>
            </form>
        </div>
    </div>
</div>